.conteiner,
.row {
    width: 100%;
    display: flex;
}

.row {
    padding: calc($padding * 2);
}

.col {
    padding: calc($padding * 2);
}

.w-100 {
    width: 100%;
}

.input {
    padding: calc($padding * 2);;
    border: 1px solid #ebebeb;
    background-color: $white;
    outline: none;
}

.is-rounded {
    border-radius: 6px;
}

.input-add-list {
    border-radius: 6px 0 0 6px;
}

.checked {
    text-decoration: line-through;
    color: gray
}

.border-bottom-grey {
    border-bottom: 1px solid #dddddd;
}

